@import "../../../styles/var.module.scss";

.btn {
  background-color: transparent;
  border: 2px solid $gray_btn;
  border-radius: 5rem;
  padding: 0.4rem 0.4rem 0.4rem 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: $white;
  font-family: $SpaceGro;
  cursor: pointer;
}
