$primary-color: #64ff00;

// Theme colors

$blur: #165aff;

$bg: #060606;

$blue_800_Primary: #004be0;
$blue_950: #0a2761;
$blue_900: #083ea0;
$blue_700: #0056ff;
$blue_600: #006eff;
$blue_200: #b2e2ff;
$blue_100: #d4edff;
$blue_50: #ecf8ff;

$blue_Dark_Primary: #0a0b11;
$blue_Dark_900: #2d324d;
$blue_Dark_800: #323a5a;
$blue_Dark_700: #38416c;
$blue_Dark_600: #455284;
$blue_Dark_500: #58699f;

$blue_Dark_300: #a8b1d1;
$blue_Dark_200: #d1d5e6;
$blue_Dark_100: #eaebf4;
$blue_Dark_50: #f5f6fa;
$blue_P: #40416e;

$card_Case: #0a0b11;
$line_grid: #2a2933;

$red_primary_600: #ff0065;
$red_600: #d70055;
$red_500: #ff2473;
$red_300: #ffc6d8;
$red_200: #ffe0e8;
$red_100: #ffeff3;

$gray_span: #8f8f8f;

$gray_900: #292929;
$gray_300: #bdbdbd;
$gray_200: #dcdcdc;
$gray_100: #efefef;
$gray_btn: #28292f;
$white: #ffffff;
// Font

$ReadexPro: var(--font-readexPro);
$SpaceGro: var(--font-spaceGrotesk);
$FiraSans: var(--font-firaSans);
