@import "../../../styles/var.module.scss";

.container {
  display: flex;
  gap: 2.1rem;
  cursor: pointer;
  width: 19.4rem;

  .backToTopButton {
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 1.6rem;
    cursor: pointer;
    color: $gray_span;
    background-color: transparent;
    border: 0;
    font-family: $ReadexPro;
    font-weight: 500;
    text-transform: uppercase;
  }
  .backToTopButton.visible {
    opacity: 1;
  }
}
